/* font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .quicksand-<uniquifier> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  /* universal */

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  /*body area  */

body{
    font-family: "Quicksand", serif;
}

/* header area  */

.header{
    /* border: 1px solid black; */
    max-width:1160px;
    margin: 30px auto;
    position: relative;
}
          /* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
           /* nav-title */
.nav_title_box{
    display: flex;
    align-items:center;
    gap:15px;
}
.nav_title{
    font-size: 2rem;
    font-weight: 700;
}
          /* links */
.links{
    display: flex;
}
.links li{
    list-style: none;
    margin-right:40px;
}
.links li a{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500px;
}
#Home{
    color: #FEA301;
    font-weight: 700;
}
#About{
    color: #01ACFD;
}
#Facilities{
    color: #05D4DF;
}
#Admission{
    color: #5D58EF;
}
      /* btn */
.nav_btn_box{

}
.nav_btn_box button{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 60px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius:12px;
}

      /* toggle btn */

.toggle_btn_box {
    font-size: 3rem;
    display: none;
    
}




/* banner area of header*/

.banner_container{
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: space-between;
}
.banner_contant{
    max-width: 640px;
    /* border: 1px solid; */

}
.banner_title{
    font-size: 3.9rem;
    margin: 12px 0;
}
#Empowering{
    color: #FEA301;
}
#towards_vision{
 color: #01ACFD;
}
.banner_pera{
    font-size: 1.2rem;
    color: gray;
    line-height: 28px;
}

.banner_btn_box{

}
.banner_btn_box button{
    margin:20px 0;
    padding:10px 47px ;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 12px;
    
}

/* main - area */

#main_area{
    max-width: 1160px;
    margin: 50px auto;
    /* border: 1px solid black; */
}

/* section part one / Standard_container */
.Standard_container{
    margin: 50px 0;
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    
}
.standard_contant{
    margin: 0 auto;
    max-width: 460px;
    /* border: 1px solid ; */
    text-align: center;
}
.Standard_title{
    font-size: 2.8rem;
    font-weight: 700;
}
      /* cards_container */

.cards_container{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.3rem;
    align-items: center;
    text-align: center;
}   
.card_box{
    padding: 50px 40px;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.219);
    
}   
.card_one{
    background:linear-gradient(180deg,rgba(135, 207, 235, 0.437),rgba(255, 255, 255, 0.239));
}
.card_two{
    background: linear-gradient(180deg,#fea10154,rgba(255, 255, 255, 0.281));
}
.card_three{
    background: linear-gradient(180deg,rgba(75, 112, 247, 0.235),rgba(255, 255, 255, 0.268));
}
.card_box_title{
    margin: 20px 0;
    font-size: 1.5rem;
}


.card_link_box{
    margin: 10px 0;
}
.card_link_box a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#read_more_one{
    color: #64C8FF;
}
#read_more_two{
    color: #FEA301;
}
#read_more_three{
    color: #8700FF;
}
          /* less-greater-box */
.less_greater_box{
    text-align: center;
    margin: 50px 0;
    font-size: 1.6rem;
    color:white;
    padding-bottom: 50px;
}
#less_than{
    background-color:#FEA301;
    padding: 10px 13px ;
    border-radius: 100px;
}
#greater_than{
    background-color: #FEA301;
    padding: 10px 13px ;
    border-radius: 100px;
}


/* section part two */

.section_two{
    background-image: url("../assets/background.jpg");
    background:linear-gradient(0deg,#fea10139,white);
    margin: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.our_story_container{
    max-width: 1160px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap:1rem;

}
.contant_title{
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
}

.our_story_title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0;
    padding: 0 15px;
    line-height: 3rem;
}
.our_story_pera{
    padding: 0 15px;
    font-size: 1.1rem;
    margin: 20px 0 ;
    line-height: 35px;
}
   /* our_story_box_one */

.our_story_box_one{
    background-color: white;
    border-radius: 12px;

}
.our_story_box_one{
    background-color: white;
    border-radius: 12px;

}
.our_story_box_one img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.big_title{
    font-size: 2rem;
    margin: 40px 0;
}
.our_story_btn_box{

 padding: 0 15px;
 margin-top: -30px;
}
.our_story_btn_box button{
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #3CD8E8;
    color: white;
    border-radius: 12px;
    border: none;
    outline: none;
 
}


    /* our_story_box_two */

.our_story_box_two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.1rem;
}
.our_story_box_two img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.our_story_child{
    background-color: white;
    border-radius: 12px;
}
.child_title{
    font-size: 1.3rem;
    font-weight: 700rem;
    line-height: 2.2rem;
    padding: 0 10px ;
    margin: 25px 0;
}
.child_btn_box{
    padding: 0 10px;
    margin-top: -20px;
}
.child_btn_box button{
    padding: 10px 20px ;
    border-radius:50px ;
    background-color: #95B226;
    color: white;
    border: none;
}
#November{
    background-color: #5D58F0;
}

   /* view box  */
.view_box{
text-align: center;
padding-bottom: 50px;
}
.view_box button{
 padding: 10px 60px;
 background-color: black;
 color: white;
 border-radius: 12px;
 font-size: 1.2rem;
}