/* responsive for small device  */

@media screen and (max-width:576px) {

 /* navbar */
    .navbar{
        border-bottom: 2px solid  #FEA301;
        padding-bottom: 20px;
        padding-left:8px;
        padding-right: 8px;
    }

    .links ,.nav_title,.nav_btn_box{
        display: none;
     }
     .nav_img{
        border: 1px solid #FEA301;
        padding: 0 2px;
        border-radius: 5px;
     }
     .toggle_btn_box{
        display: block;
        border: 1px solid #FEA301;
        padding: 0 8px;
        border-radius: 5px;
     }
     /* banner  */
     .banner_container{
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 10px;
    }

    .banner_title{
        font-size: 2.6rem;
    }
    .banner_image_box img{
       width: 100%;
    }
    /* section part one */
      
    .cards_container{
        grid-template-columns: 1fr;
        padding: 0 15px;
        gap: 2.8rem;
        
    }   
    .Standard_title{
        font-size: 2.2rem;
    }

    /* less-greater-box */

    .less_greater_box{
        display: none;
    }

    /* section part 2 */
    .our_story_box_one{
     display: none;
    }
    .our_story_box_two img{
        width: 100%;
    }
    .our_story_box_two{
        padding: 0 10px;
    }

    /* footer */

    .footer_container{
        flex-direction: column;
        
        align-items:normal;
        padding: 0 8px;
    }
    .school_box{
         margin: 50px 0 ;
    }
}



/* responsive for medium device */

@media screen and (min-width:576px) and (max-width:990px) {
      
    /* navbar */
    .nav_btn_box ,.nav_title{
      display: none;
    }
    /* banner */

    .banner_container{
        flex-direction: column;
        text-align: center;
    
    }
    .banner_title{
        font-size: 3rem;
    }

    /* section part one */

    .cards_container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        padding: 0 20px;
    }  
    .card_box{
        max-width: 400px;
    }
    .Standard_title{
        font-size: 2.2rem;
        font-weight: 700;
    }

    /* less-greater-box */
    .less_greater_box{
        display: none;
    }

    /* section-part-two */
    .our_story_container{
        flex-direction: column;
        align-items: center;
    }
    .our_story_box_one{
        
        max-width: 545px;
        margin-bottom: 50px;
    
    }
    .our_story_child{
        max-width: 290px;
    }  
    /* footer */
   
    .footer_container{
        padding: 0 8px;
    }
    .footer_contant{
        max-width: 300px;
       }
    .footer_title{
        font-size: 1.5rem;
    }
    .school_title{
        font-size: 1.5rem;
    }
    .school_box li a {
        font-size: 1rem;
    
    }
    .icon_title{
        font-size: 1.5rem;
    }

}